name: Update Live JSON
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install requests
      - run: python update_scores.py
      - name: Commit and Push
        run: |
          git config --global user.name "ScoreBot"
          git config --global user.email "bot@github.com"
          git add README.md livescore.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update livescore.json" && git push)
